<!DOCTYPE html>
<html lang="en">

<!--====================================================
                         header
======================================================-->
<head>
    {{include "default/public/header-template.html"}}

    <!-- Core Stylesheets -->
    <link rel="stylesheet" href="default/css/about.css">
</head>
<body id="page-top">

<!--====================================================
                         HEADER
======================================================-->

<header>
    <!-- sidr-->
    {{include "default/public/sidr.html"}}
    <!-- Navbar-->
    {{include "default/public/nav-template.html"}}
</header>

<!--====================================================
                       HOME-P
======================================================-->
<div id="home-p" class="home-p pages-head1 text-center">
    <div class="container">
        <h1 class="wow fadeInUp" data-wow-delay="0.1s">{{result.keywords}}</h1>
        <p>{{result.description}}</p>
    </div>
</div>

<!--====================================================
                        ABOUT-P1
======================================================-->
<section id="about-p1">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="about-p1-cont">
                    <h1>{{list.aboutP1Title}} </h1>
                    <p> {{list.aboutP1Content}} </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="about-p1-img">
                    <img src="{{__HOST__}}/{{list.aboutP1Img_url}}" class="img-fluid wow fadeInUp" data-wow-delay="0.1s" alt="...">
                </div>
            </div>
        </div>
    </div>
</section>

<!--====================================================
                       ABOUT-P2
======================================================-->
<section class="about-p2 bg-gradiant">
    <div class="container-fluid">
        <div class="row">
            <div class="about-p2-heading">
                <h1 class="cl-white">{{list.aboutP2Title}}</h1>
                <div class="heading-border-light bg-white"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <div class="about-p2-cont cl-white">
                    <img src="{{__HOST__}}/{{list.aboutP2Img_url}}" class="img-fluid wow fadeInUp" data-wow-delay="0.1s" alt="...">
                </div>
            </div>
            <div class="col-md-4">
                <div class="about-p2-cont cl-white wow fadeInUp" data-wow-delay="0.3s">
                    <h5>{{list.aboutP2Content1SubTitle}}</h5>
                    <p class="cl-white">{{list.aboutP2Content1}}</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="about-p2-cont cl-white wow fadeInUp" data-wow-delay="0.5s">
                    <h5>{{list.aboutP2Content2SubTitle}}</h5>
                    <p class="cl-white">{{list.aboutP2Content2}}</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!--====================================================
                     ABOUT-P3
======================================================-->
<section id="story" class="about-p3">
    <div class="container ">
        <div class="row">
            <div class="col-md-6 ">
                <div class="story-himg story-himg-middle-u">
                    <img src="{{__HOST__}}/{{list.aboutP3Img_url1}}" class="img-fluid wow fadeInUp" data-wow-delay="0.1s" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="story-desc story-desc-middle ">
                    <h3>{{list.aboutP3Content1SubTitle}}</h3>
                    <div class="heading-border-light"></div>
                    <p>{{list.aboutP3Content1}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="story-desc">
                    <h3>{{list.aboutP3Content2SubTitle}}</h3>
                    <div class="heading-border-light"></div>
                    <p>{{list.aboutP3Content2}}</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="story-himg">
                    <img src="{{__HOST__}}/{{list.aboutP3Img_url2}}" class="img-fluid wow fadeInUp" data-wow-delay="0.1s" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

<!--====================================================
                      FOOTER
======================================================-->
{{include "default/public/footer-template.html"}}

</body>
</html>