<!DOCTYPE html>
<html lang="en">
<head>
    {{include "default/public/header-template.html"}}
    <!-- Core Stylesheets -->
    <link rel="stylesheet" href="default/css/contact.css">
</head>
<body id="page-top">
<!--====================================================
                         HEADER
======================================================-->
<header>
    <!-- sidr-->
    {{include "default/public/sidr.html"}}
    <!-- Navbar-->
    {{include "default/public/nav-template.html"}}
</header>

<!--====================================================
                       HOME-P
======================================================-->
<div id="home-p" class="home-p pages-head4 text-center">
    <div class="container">
        <h1 class="wow fadeInUp" data-wow-delay="0.1s">Contact Us</h1>
    </div><!--/end container-->
</div>
<!--====================================================
                        CONTACT-P1  
======================================================-->
<section id="contact-p1" class="contact-p1">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="contact-p1-cont">
                    <h3>Contact our experienced team</h3>
                    <div class="heading-border-light"></div>
                    <p>{{setting.site_description}}</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="contact-p1-cont2">
                    <address class="address-details-f contact-add">
                        <p>25, Dist town Street, Logn, California, US</p>
                        <p>Phone: {{setting.site_tel}}</p>
                        <p>Email: <a href="mailto:info@Businessbox.com" class="">{{setting.site_email}}</a></p>
                    </address>
                    <!--
                    <ul class="list-inline social-icon-f top-data">
                        <li>
                            <a href="#" target="_empty">
                                <i class="fa top-social fa-facebook"
                                   style="height: 35px; width:35px; line-height: 35px;"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_empty">
                                <i class="fa top-social fa-twitter"
                                   style="height: 35px; width:35px; line-height: 35px;"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_empty">
                                <i class="fa top-social fa-google-plus"
                                   style="height: 35px; width:35px; line-height: 35px;"></i>
                            </a>
                        </li>
                    </ul>
                    -->
                </div>
            </div>
        </div>
    </div>
</section>

<!--====================================================
                        CONTACT-P2 
======================================================
<service class="contact-p2" id="contact-p2">
    <div class="container">
        <div class="row con-form">
            <div class="col-md-4">
                <input type="text" name="full-name" placeholder="Full Name" class="form-control">
            </div>
            <div class="col-md-4">
                <input type="text" name="email" placeholder="Email Id" class="form-control">
            </div>
            <div class="col-md-4">
                <input type="text" name="subject" placeholder="Subject" class="form-control">
            </div>
            <div class="col-md-12"><textarea name="" id=""></textarea></div>
            <div class="col-md-12 sub-but">
                <button class="btn btn-general btn-white" role="button">Send</button>
            </div>
        </div>
    </div>
</service>-->

<!--====================================================
                       MAP
======================================================
<section id="contact-add">
    <div id="map">
        <div class="map-responsive">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d6030.418742494061!2d-111.34563870463673!3d26.01036670629853!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2smx!4v1471908546569"
                width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>-->
</section>

<!--====================================================
                      FOOTER
======================================================-->
{{include "default/public/footer-template.html"}}

<!--Global JavaScript -->
<!--<script src="default/js/popper/popper.min.js"></script>-->
<!--<script src="default/js/bootstrap/bootstrap.min.js"></script>-->
<!--<script src="default/js/wow/wow.min.js"></script>-->
<!--<script src="default/js/owl-carousel/owl.carousel.min.js"></script>-->

<!--&lt;!&ndash; Plugin JavaScript &ndash;&gt;-->
<!--<script src="default/js/jquery-easing/jquery.easing.min.js"></script>-->
<!--<script src="default/js/custom.js"></script>-->


</body>

</html>
