<!DOCTYPE html>
<html lang="en">
<head>
    {{include "default/public/header-template.html"}}
    <!-- Core Stylesheets -->
    <link rel="stylesheet" href="{{__HOST__}}/default/css/contact.css">

</head>
<body id="page-top">
<!--====================================================
                         HEADER
======================================================-->
<header>
    <!-- sidr-->
    {{include "default/public/sidr.html"}}
    <!-- Navbar-->
    {{include "default/public/nav-template.html"}}
</header>

<!--====================================================
                       HOME-P
======================================================-->
<div id="home-p" class="home-p pages-head4 text-center">
    <div class="container">
        <h1 class="wow fadeInUp" data-wow-delay="0.1s">Contact Us</h1>
    </div><!--/end container-->
</div>
<!--====================================================
                        CONTACT-P1  
======================================================-->
<section id="contact-p1" class="contact-p1">
    <div class="container">
        <div class="row">
            <!--
            <div class="col-md-8">
                <div class="contact-p1-cont">
                    <h3>Contact our experienced team</h3>
                    <div class="heading-border-light"></div>
                    <p>{{setting.site_description}}</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="contact-p1-cont2">
                    <address class="address-details-f contact-add">
                        <p>25, Dist town Street, Logn, California, US</p>
                        <p>联系电话: {{setting.site_tel}}</p>
                        <p>邮箱/Email: <a href="mailto:info@Businessbox.com" class="">{{setting.site_email}}</a></p>
                    </address>
                </div>
            </div>-->
            <div class="col-12">
                <div class="contact-p1-title">
                    <h3>联系方式</h3>
                    <div class="sub-title">Contact information</div>
                </div>
            </div>
        </div>
        <div class="row" style="background: transparent;overflow: hidden;border-radius: 10px;">
            <div class="col-md-4">
                <div class="contact-p1-cont2">
                    <address class="address-details-f contact-add">
                        <span class="add-style" style="transform: skew(-24deg);"></span>
                        <div class="contact-p1-header">
                            <div class="our-phones big-title">我们的电话</div>
                            <div class="eng-title">Our phones</div>
                        </div>
                        <div class="contact-p1-content">
                            联系电话: {{setting.site_tel}}
                        </div>
                    </address>
                </div>
            </div>
            <div class="col-md-4">
                <div class="contact-p1-cont2">
                    <address class="address-details-f contact-add">
                        <span class="add-style" style="transform: skew(-24deg);"></span>
                        <div class="contact-p1-header">
                            <div class="our-address big-title">我们的地址</div>
                            <div class="eng-title">Our address</div>
                        </div>
                        <div class="contact-p1-content">
                            {{setting.site_address}}
                        </div>
                    </address>
                </div>
            </div>
            <div class="col-md-4">
                <div class="contact-p1-cont2">
                    <address class="address-details-f contact-add">
                        <span class="add-style" style="transform: skew(-24deg);"></span>
                        <div class="contact-p1-header email-title">
                            <div class="our-email big-title ">我们的邮箱</div>
                            <div class="eng-title">Our E-mail</div>
                        </div>
                        <div class="contact-p1-content">
                            邮箱 : {{setting.site_email}}
                        </div>
                    </address>
                </div>
            </div>
        </div>
    </div>
</section>

<!--====================================================
                       MAP
======================================================
<section id="contact-add">
    <div id="map">
        <div class="map-responsive">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d6030.418742494061!2d-111.34563870463673!3d26.01036670629853!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2smx!4v1471908546569"
                width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
</section>-->
<section>
    <div id="container" tabindex="0"></div>
</section>
<link rel="stylesheet" href="https://a.amap.com/jsapi_demos/static/demo-center/css/demo-center.css"/>
<script type="text/javascript"
        src="https://webapi.amap.com/maps?v=1.4.12&key=bb9c6cdaa305665da3d902d860348ed7"></script>
<script src="https://webapi.amap.com/ui/1.0/main.js"></script>
<script>

    var map = new AMap.Map('container', {
        resizeEnable: true,
        center: [122.13423, 41.653225],
        zoom: 13
    });

    AMap.plugin(['AMap.ToolBar', 'AMap.Scale'], function () {//异步同时加载多个插件
        var toolbar = new AMap.ToolBar();
        var driving = new AMap.Scale();//比例尺
        map.addControl(toolbar);
        map.addControl(driving);
    });

    AMapUI.loadUI(['overlay/SimpleInfoWindow'], function (SimpleInfoWindow) {
        var marker = new AMap.Marker({
            map: map,
            zIndex: 9999999,
            position: [122.133695, 41.654743]
        });

        var infoWindow = new SimpleInfoWindow({
            infoTitle: '<strong>辽宁逸立达电梯有限</strong>',
            infoBody: `<p class="my-desc">地址:辽宁逸立达电梯有限公司办公室地址位于，辽宁省锦州市黑山县庞河经济开发区黑山第三初级中学东侧</p><p class="my-desc">联系电话:2222222</p><p class="my-desc">邮箱:2222222</p>`,

            //基点指向marker的头部位置
            offset: new AMap.Pixel(0, -31)
        });

        function openInfoWin() {
            infoWindow.open(map, marker.getPosition());
        }

        //marker 点击时打开
        AMap.event.addListener(marker, 'click', function () {
            openInfoWin();
        });
        openInfoWin();
    })

</script>
<script type="text/javascript" src="https://webapi.amap.com/demos/js/liteToolbar.js"></script>

<!--====================================================
                      FOOTER
======================================================-->
{{include "default/public/footer-template.html"}}

</body>

</html>
