<!DOCTYPE html>
<html lang="en">
<!--====================================================
                         header
======================================================-->
<head>
    {{include "default/public/header-template.html"}}
</head>

<body id="page-top">

<!--====================================================
                         HEADER
======================================================-->

<header>
    <!-- sidr-->
    {{include "default/public/sidr.html"}}
    <!-- Navbar-->
    {{include "default/public/nav-template.html"}}
</header>


<!--====================================================
                         HOME
======================================================-->
<section id="home">
    <div id="carousel" class="carousel slide carousel-fade" data-ride="carousel">
        <!-- Carousel items -->
        <div class="carousel-inner">
            <div class="carousel-item active slides">
                <div class="overlay"></div>
                <div class="slide-1"></div>
                <div class="hero ">
                    <hgroup class="wow fadeInUp">
                        <h1>{{homeInfo.homeStaticTitle}} <span><a href="" class="typewrite" data-period="2000"
                                             data-type='{{homeInfo.homeDynamicTitle}}'>
                        <span class="wrap"></span></a></span></h1>
                        <h3>{{homeInfo.homeSubTitle}}</h3>
                    </hgroup>
                    <a href="/contact" class="btn btn-general btn-green wow fadeInUp" role="button">联系我们</a>
                </div>
            </div>
        </div>
    </div>
</section>

<!--====================================================
                        ABOUT
======================================================-->
<section id="about" class="about">
    <div class="container">
        <div class="row title-bar">
            <div class="col-md-12">
                <h1 class="wow fadeInUp">{{showModelAbout.title}}</h1>
                <div class="heading-border"></div>
                <p class="wow fadeInUp" data-wow-delay="{{showModelAbout.delayTime}}">{{showModelAbout.content}}</p>
                <div class="title-but">
                    <a href="{{showModelAbout.link}}" class="btn btn-general btn-green" role="button">{{showModelAbout.linkTitle}}</a>
                </div>
            </div>
        </div>
    </div>
</section>

<!--====================================================
                        OFFER
======================================================-->
<section id="comp-offer">
    <div class="container-fluid">
        <div class="row">
            {{each showModelOffer}}
            {{if $value.showModel === false }}
            <div class="col-md-3 col-sm-6 desc-comp-offer wow fadeInUp" data-wow-delay="{{$value.delayTime}}">
                <h2>{{$value.title}}</h2>
                <div class="heading-border-light"></div>
                <a href="/case" class="btn btn-general btn-green" role="button">更多工程案例</a>
            </div>
            {{else}}
            <div class="col-md-3 col-sm-6 desc-comp-offer wow fadeInUp" data-wow-delay="{{$value.delayTime}}">
                <div class="desc-comp-offer-cont">
                    <div class="thumbnail-blogs">
                        <div class="caption">
                            <a href="/offer-details/{{@$value._id}}">
                                <i class="fa fa-chain"></i>
                            </a>
                        </div>
                        <img src="{{$value.img_url}}" class="img-fluid" alt="...">
                    </div>
                    <h3>{{$value.title}}</h3>
                    <div class="desc">{{$value.description}} </div>
                    <a href="/offer-details/{{@$value._id}}"><i class="fa fa-arrow-circle-o-right"></i> 链接地址</a>
                </div>
            </div>
            {{/if}}
            {{/each}}
        </div>
    </div>
</section>

<!--====================================================
                  COMPANY THOUGHT
======================================================-->
<div class="overlay-thought"></div>
<section id="thought" class="bg-parallax thought-bg">
    <div class="container">
        <div id="thought-desc" class="row title-bar title-bar-thought owl-carousel owl-theme">
            {{each focusContent}}
            <div class="col-md-12 ">
                <div class="heading-border bg-white"></div>
                <p class="wow fadeInUp" data-wow-delay="0.4s">{{$value.content}}</p>
                <h6>{{$value.title}}</h6>
            </div>
            {{/each}}
        </div>
    </div>
</section>

<!--====================================================
                       NEWS
======================================================-->
<section id="comp-offer">
    <div class="container-fluid">
        <div class="row">
            {{each showModelNews}}
            {{if $value.showModel}}
            <div class="col-md-3 col-sm-6 desc-comp-offer wow fadeInUp" data-wow-delay="{{$value.delayTime}}">
                <div class="desc-comp-offer-cont">
                    <div class="thumbnail-blogs">
                        <div class="caption">
                            <a href="/news-details/{{@$value._id}}">
                                <i class="fa fa-chain"></i>
                            </a>
                        </div>
                        <img src="{{$value.img_url}}" class="img-fluid" alt="...">
                    </div>
                    <h3>{{$value.title}}</h3>
                    <div class="desc">{{$value.description}} </div>
                    <a href="/news-details/{{@$value._id}}"><i class="fa fa-arrow-circle-o-right"></i> 链接地址</a>
                </div>
            </div>
            {{else}}
            <div class="col-md-3 col-sm-6  desc-comp-offer wow fadeInUp" data-wow-delay="{{$value.delayTime}}">
                <h2>{{$value.title}}</h2>
                <div class="heading-border-light"></div>
                <a href="/news" class="btn btn-general btn-green" role="button">更多新闻资讯</a>
            </div>
            {{/if}}
            {{/each}}
        </div>
    </div>
</section>

<!--====================================================
                      FOOTER
======================================================-->
{{include "default/public/footer-template.html"}}

</body>

</html>
