<!DOCTYPE html>
<html lang="en">
<!--====================================================
                         header
======================================================-->
<head>
    {{include "default/public/header-template.html"}}
</head>

<body id="page-top">

<!--====================================================
                         HEADER
======================================================-->

<header>
    <!-- sidr-->
    {{include "default/public/sidr.html"}}
    <!-- Navbar-->
    {{include "default/public/nav-template.html"}}
</header>


<!--====================================================
                         HOME
======================================================-->
<section id="home">
    <div id="carousel" class="carousel slide carousel-fade" data-ride="carousel">
        <!-- Carousel items -->
        <div class="carousel-inner">
            <div class="carousel-item active slides">
                <div class="overlay"></div>
                <div class="slide-1"></div>
                <div class="hero ">
                    <hgroup class="wow fadeInUp">
                        <h1>We Help <span><a href="" class="typewrite" data-period="2000"
                                             data-type='[ " Business", " Startup"]'>
                        <span class="wrap"></span></a></span></h1>
                        <h3>The next big idea is waiting for its next big changer</h3>
                    </hgroup>
                    <a href="/contact" class="btn btn-general btn-green wow fadeInUp" role="button">Contact Now</a>
                </div>
            </div>
        </div>
    </div>
</section>

<!--====================================================
                        ABOUT
======================================================-->
<section id="about" class="about">
    <div class="container">
        <div class="row title-bar">
            <div class="col-md-12">
                <h1 class="wow fadeInUp">{{showModelAbout.title}}</h1>
                <div class="heading-border"></div>
                <p class="wow fadeInUp" data-wow-delay="{{showModelAbout.delayTime}}">{{showModelAbout.content}}</p>
                <div class="title-but">
                    <a href="{{showModelAbout.link}}" class="btn btn-general btn-green" role="button">{{showModelAbout.linkTitle}}</a>
                </div>
            </div>
        </div>
    </div>
</section>

<!--====================================================
                        OFFER
======================================================-->
<section id="comp-offer">
    <div class="container-fluid">
        <div class="row">
            {{each showModelOffer}}
            {{if $value.showModel === false }}
            <div class="col-md-3 col-sm-6 desc-comp-offer wow fadeInUp" data-wow-delay="{{$value.delayTime}}">
                <h2>{{$value.title}}</h2>
                <div class="heading-border-light"></div>
                <button class="btn btn-general btn-green" role="button">See Curren Offers</button>
                <button class="btn btn-general btn-white" role="button">Contact Us Today</button>
            </div>
            {{else}}
            <div class="col-md-3 col-sm-6 desc-comp-offer wow fadeInUp" data-wow-delay="{{$value.delayTime}}">
                <div class="desc-comp-offer-cont">
                    <div class="thumbnail-blogs">
                        <div class="caption">
                            <i class="fa fa-chain"></i>
                        </div>
                        <img src="{{$value.img_url}}" class="img-fluid" alt="...">
                    </div>
                    <h3>{{$value.title}}</h3>
                    <div class="desc">{{@$value.content}} </div>
                    <a href="{{$value.link}}"><i class="fa fa-arrow-circle-o-right"></i> Learn More</a>
                </div>
            </div>
            {{/if}}
            {{/each}}
        </div>
    </div>
</section>

<!--====================================================
                  COMPANY THOUGHT
======================================================-->
<div class="overlay-thought"></div>
<section id="thought" class="bg-parallax thought-bg">
    <div class="container">
        <div id="thought-desc" class="row title-bar title-bar-thought owl-carousel owl-theme">
            <div class="col-md-12 ">
                <div class="heading-border bg-white"></div>
                <p class="wow fadeInUp" data-wow-delay="0.4s">Businessbox will deliver value to all the stakeholders and
                    will attain excellence and leadership through such delivery of value. We will strive to support the
                    stakeholders in all activities related to us. Businessbox provide great things.</p>
                <h6>John doe</h6>
            </div>
            <div class="col-md-12 thought-desc">
                <div class="heading-border bg-white"></div>
                <p class="wow fadeInUp" data-wow-delay="0.4s">Ensuring quality in Businessbox is an obsession and the
                    high quality standards set by us are achieved through a rigorous quality assurance process. Quality
                    assurance is performed by an independent team of trained experts for each project. </p>
                <h6>Tom John</h6>
            </div>
        </div>
    </div>
</section>

<!--====================================================
                       NEWS
======================================================-->
<section id="comp-offer">
    <div class="container-fluid">
        <div class="row">
            {{each showModelNews}}
            {{if $value.showModel}}
            <div class="col-md-3 col-sm-6 desc-comp-offer wow fadeInUp" data-wow-delay="{{$value.delayTime}}">
                <div class="desc-comp-offer-cont">
                    <div class="thumbnail-blogs">
                        <div class="caption">
                            <i class="fa fa-chain"></i>
                        </div>
                        <img src="{{$value.img_url}}" class="img-fluid" alt="...">
                    </div>
                    <h3>{{$value.title}}</h3>
                    <div class="desc">{{@$value.content}} </div>
                    <a href="{{$value.link}}"><i class="fa fa-arrow-circle-o-right"></i> Learn More</a>
                </div>
            </div>
            {{else}}
            <div class="col-md-3 col-sm-6  desc-comp-offer wow fadeInUp" data-wow-delay="{{$value.delayTime}}">
                <h2>{{$value.title}}</h2>
                <div class="heading-border-light"></div>
                <a href="{{$value.link}}" class="btn btn-general btn-green" role="button">See More</a>
            </div>
            {{/if}}
            {{/each}}
        </div>
    </div>
</section>

<!--====================================================
                      FOOTER
======================================================-->
{{include "default/public/footer-template.html"}}

<!--Global JavaScript -->
<script src="default/js/jquery/jquery.min.js"></script>
<script src="default/js/popper/popper.min.js"></script>
<script src="default/js/bootstrap/bootstrap.min.js"></script>
<script src="default/js/wow/wow.min.js"></script>
<script src="default/js/owl-carousel/owl.carousel.min.js"></script>

<!-- Plugin JavaScript -->
<script src="default/js/jquery-easing/jquery.easing.min.js"></script>
<script src="default/js/custom.js"></script>
</body>

</html>
