<!doctype html>
<html>
<!--====================================================
                         header
======================================================-->
<head>
    {{include "default/public/header-template.html"}}
    <!-- Core Stylesheets -->
    <link rel="stylesheet" href="default/css/news.css">
</head>
<body>
<!--====================================================
                         HEADER
======================================================-->
<header>
    <!-- sidr-->
    {{include "default/public/sidr.html"}}
    <!-- Navbar-->
    {{include "default/public/nav-template.html"}}
</header>

<!--====================================================
                       HOME-P
======================================================-->
<div id="home-p" class="home-p pages-head2 text-center">
    <div class="container">
        <h1 class="wow fadeInUp" data-wow-delay="0.1s">{{result.title}}</h1>
        <p>{{result.description}}</p>
    </div><!--/end container-->
</div>

<!--====================================================
                       NEWS
======================================================-->
<section id="comp-offer">
    <div class="container-fluid">
        <div class="row">
            {{each list}}
            {{if $value.showModel}}
            <div class="col-md-3 col-sm-6 desc-comp-offer wow fadeInUp" data-wow-delay="{{$value.delayTime}}">
                <div class="desc-comp-offer-cont">
                    <div class="thumbnail-blogs">
                        <div class="caption">
                            <i class="fa fa-chain"></i>
                        </div>
                        <img src="{{$value.img_url}}" class="img-fluid" alt="...">
                    </div>
                    <h3>{{$value.title}}</h3>
                    <div class="desc">{{$value.description}} </div>
                    <a href="/news-details/{{@$value._id}}"><i class="fa fa-arrow-circle-o-right"></i> 详情地址</a>
                </div>
            </div>
            {{/if}}
            {{/each}}
        </div>
    </div>
</section>

<!--====================================================
                      FOOTER
======================================================-->
{{include "default/public/footer-template.html"}}


<!--Global JavaScript -->
<script src="default/js/jquery/jquery.min.js"></script>
<script src="default/js/popper/popper.min.js"></script>
<script src="default/js/bootstrap/bootstrap.min.js"></script>
<script src="default/js/wow/wow.min.js"></script>
<script src="default/js/owl-carousel/owl.carousel.min.js"></script>

<!-- Plugin JavaScript -->
<script src="default/js/jquery-easing/jquery.easing.min.js"></script>
<script src="default/js/custom.js"></script>

<script src="/default/js/jquery-2.0.3.min.js"></script>
<!--注意放在jq下面-->
<script src="/default/js/jqpaginator.js"></script>
<!--<script>-->
    <!--$('#page').jqPaginator({-->
        <!--totalPages: {{totalPages}},-->
    <!--visiblePages: 10,-->
        <!--currentPage: {{page}},-->
    <!--onPageChange: function (num, type) {-->
        <!--// $('#text').html('当前第' + num + '页');-->
        <!--if(type =="change"){-->
            <!--{{if cid}}-->
            <!--location.href = '/news?cid={{cid}}&page='+num;-->
            <!--{{else}}-->
            <!--location.href = '/news?page='+num;-->
            <!--{{/if}}-->

            <!--}-->
            <!--}-->
        <!--});-->
<!--</script>-->

</body>
</html>
