<!DOCTYPE html>
<html lang="en">


<head>
    {{include "default/public/header-template.html"}}

    <!-- Core Stylesheets -->
    <link rel="stylesheet" href="default/css/services.css">

</head>
<body id="page-top">

<!--====================================================
                         HEADER
======================================================-->

<header>
    <!-- sidr-->
    {{include "default/public/sidr.html"}}
    <!-- Navbar-->
    {{include "default/public/nav-template.html"}}
</header>

<!--====================================================
                       HOME-P
======================================================-->
<div id="home-p" class="home-p pages-head2 text-center">
    <div class="container">
        <h1 class="wow fadeInUp" data-wow-delay="0.1s">{{result.title}}</h1>
        <p>{{result.description}}</p>
    </div><!--/end container-->
</div>

<!--====================================================
                      BUSINESS-GROWTH-P1
======================================================-->
<section id="business-growth-p1" class="business-growth-p1 bg-gray">
    <div class="container">
        <div class="row title-bar">
            <div class="col-md-12">
                <h1 class="wow fadeInUp">{{showModelAbout.title}}</h1>
                <div class="heading-border"></div>
                <p class="wow fadeInUp" data-wow-delay="{{showModelAbout.delayTime}}">{{showModelAbout.content}}</p>
            </div>
        </div>

        <div class="row wow animated fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
            {{each servicePartOneList}}
            <div class="col-md-3 col-sm-6 service-padding">
                <div class="service-item">
                    <div class="service-item-icon">
                        <img width="100%" height="100%" src="{{__HOST__}}/{{$value.category_img}}" alt="">
                    </div>
                    <div class="service-item-title">
                        <h3>{{$value.category_title}}</h3>
                    </div>
                    <div class="service-item-desc">
                        <p>{{$value.category_desc}}</p>
                        <div class="content-title-underline-light"></div>
                    </div>
                </div>
            </div>
            {{/each}}
            <!--
            <div class="col-md-3 col-sm-6 service-padding">
                <div class="service-item">
                    <div class="service-item-icon">
                        <i class="fa fa-paint-brush fa-3x"></i>
                        <img width="100%" height="100%" src="default/images/keti.png" alt="">
                    </div>
                    <div class="service-item-title">
                        <h3>乘客电梯</h3>
                    </div>
                    <div class="service-item-desc">
                        <p>为运送乘客设计的电梯，要求有完善的安全设施以及 一定的轿内装饰。</p>
                        <div class="content-title-underline-light"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 service-padding">
                <div class="service-item">
                    <div class="service-item-icon">
                        <i class="fa fa-laptop fa-3x"></i>
                        <img width="100%" height="100%" src="default/images/guanguang.png" alt="">
                    </div>
                    <div class="service-item-title">
                        <h3>观光电梯</h3>
                    </div>
                    <div class="service-item-desc">
                        <p>有一面或几面的井道壁和轿厢壁同侧是透明材料，乘客在乘坐电梯时，可以观看轿厢外的景物。</p>
                        <div class="content-title-underline-light"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 service-padding">
                <div class="service-item">
                    <div class="service-item-icon">
                        <i class="fa fa-table fa-3x"></i>
                        <img width="100%" height="100%" src="default/images/huoti.png" alt="">
                    </div>
                    <div class="service-item-title">
                        <h3>载货电梯</h3>
                    </div>
                    <div class="service-item-desc">
                        <p>主要为运送货物而设计，通常有人伴随的电梯。 载货电梯轿厢具有长而窄的特点。</p>
                        <div class="content-title-underline-light"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 service-padding">
                <div class="service-item right-bord">
                    <div class="service-item-icon">
                        <i class="fa fa-search fa-3x"></i>
                        <img width="100%" height="100%" src="default/images/autofuti.png" alt="">
                    </div>
                    <div class="service-item-title">
                        <h3>自动扶梯</h3>
                    </div>
                    <div class="service-item-desc">
                        <p>自动扶梯由一台特种结构形式的链式输送机和两台特殊结构形式的胶带输送机所组合而成。</p>
                        <div class="content-title-underline-light"></div>
                    </div>
                </div>
            </div>-->
        </div>
    </div>
</section>

<!--====================================================
                    FINANCIAL-P1
======================================================-->
{{each servicePartTwoList}}
{{if $value.sort === "1"}}
<section id="financial-p1" class="bg-parallax financial-p3-bg">
    <div class="overlay-financial-p1"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 financial-p1-pos">
                <div class="financial-p1-cont">
                    <a href="#"> <b>{{$value.title}}</b></a>
                    <h3>{{$value.sub_title}}</h3>
                    <p>{{$value.content}}</p>
                    <button class="btn btn-general btn-white" role="button">{{$value.btn_title}}</button>
                </div>
            </div>
            <div class="col-md-6 financial-p1-emp-img"></div>
        </div>
    </div>
</section>
{{else}}
<section id="financial-p1" class="bg-parallax financial-p2-bg">
    <div class="overlay-financial-p1"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 financial-p1-emp-img"></div>
            <div class="col-md-6 financial-p1-pos financial-p1-emp-desc-d">
                <div class="financial-p1-cont">
                    <a href="#"> <b>{{$value.title}}</b></a>
                    <h3>{{$value.sub_title}}</h3>
                    <p>{{$value.content}}</p>
                    <button class="btn btn-general btn-white" role="button">{{$value.btn_title}}</button>
                </div>
            </div>
        </div>
    </div>
</section>
{{/if}}
{{/each}}
<!--
<section id="financial-p1" class="bg-parallax financial-p3-bg">
    <div class="overlay-financial-p1"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 financial-p1-pos">
                <div class="financial-p1-cont">
                    <a href="#"> <b>销售网络</b></a>
                    <h3>为全世界各地提供优质产品</h3>
                    <p>逸立达电梯拥有一支技术精，专业强，素质好的安装、维保团队，并严格按照公司完善的服务管理体系要求，随时向用户提供高标准的售前、售中、售后服务。只要客户需要，逸立达电梯将在最短的时间内满足或提供最佳解决方案。
                        Eyneta elevator has a sophisticated technology, professional strong, installation, maintenance team, quality and perfect service management system in strict accordance with the requirements, at any time to provide customers with high standards of  , sale and after-sale service. As long as the customer needs, Eyneta elevator will be in the shortest possible time to meet or provide the best solution.
                    </p>
                    <button class="btn btn-general btn-white" role="button">联系我们</button>
                </div>
            </div>
            <div class="col-md-6 financial-p1-emp-img"></div>
        </div>
    </div>
</section>
<section id="financial-p1" class="bg-parallax financial-p2-bg">
    <div class="overlay-financial-p1"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 financial-p1-emp-img"></div>
            <div class="col-md-6 financial-p1-pos financial-p1-emp-desc-d">
                <div class="financial-p1-cont">
                    <a href="#"> <b>售后服务</b></a>
                    <h3>周到完善的售后体系</h3>
                    <p>逸立达电梯拥有一支技术精，专业强，素质好的安装、维保团队，并严格按照公司完善的服务管理体系要求，随时向用户提供高标准的售前、售中、售后服务。只要客户需要，逸立达电梯将在最短的时间内满足或提供最佳解决方案。
                        Eyneta elevator has a sophisticated technology, professional strong, installation, maintenance team, quality and perfect service management system in strict accordance with the requirements, at any time to provide customers with high standards of  , sale and after-sale service. As long as the customer needs, Eyneta elevator will be in the shortest possible time to meet or provide the best solution.
                    </p>
                    <button class="btn btn-general btn-white" role="button">联系我们</button>
                </div>
            </div>
        </div>
    </div>
</section>-->

<!--====================================================
                      FINANCIAL-P5
======================================================
<section class="what-we-do bg-gradiant financial-p5">
    <div class="container">
        <div class="row title-bar">
            <div class="col-md-12">
                <h1 class="wow fadeInUp cl-white">Global Business Services</h1>
                <div class="heading-border bg-white"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4  col-sm-6">
                        <div class="what-we-desc wow fadeInUp" data-wow-delay="0.1s">
                            <i class="fa fa-bar-chart"></i>
                            <h6>Professional Growth</h6>
                            <p class="desc">It is a long established fact that a reader will be distracted by the
                                readable content of a page when looking at its layout. The point of using Lorem Ipsum is
                                that it has a more-or-less normal distribution of letters, as opposed to using 'Content
                                here, content here', making it look like readable English.</p>
                        </div>
                    </div>
                    <div class="col-md-4  col-sm-6">
                        <div class="what-we-desc wow fadeInUp" data-wow-delay="0.1s">
                            <i class="fa fa-bullseye"></i>
                            <h6>Research &amp; Development </h6>
                            <p class="desc">It is a long established fact that a reader will be distracted by the
                                readable content of a page when looking at its layout. The point of using Lorem Ipsum is
                                that it has a more-or-less normal distribution of letters, as opposed to using 'Content
                                here, content here', making it look like readable English.</p>
                        </div>
                    </div>
                    <div class="col-md-4  col-sm-6">
                        <div class="what-we-desc wow fadeInUp" data-wow-delay="0.1s">
                            <i class="fa fa-star-o"></i>
                            <h6>Valuable Services</h6>
                            <p class="desc">It is a long established fact that a reader will be distracted by the
                                readable content of a page when looking at its layout. The point of using Lorem Ipsum is
                                that it has a more-or-less normal distribution of letters, as opposed to using 'Content
                                here, content here', making it look like readable English.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
-->
<!--====================================================
                      FINANCIAL-P6
======================================================
<section id="financial-p6" class="financial-p6">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="financial-p6-img">
                    <img src="default/images/image-3.jpg" class="img-fluid wow fadeInUp" data-wow-delay="0.1s" alt="...">
                    <img src="" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="financial-p6-cont">
                    <h2 class="wow fadeInUp">Creative Idea Businessbox </h2>
                    <div class="heading-border-light"></div>
                    <p> Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
                        printer took a galley of type and scrambled it to make a type specimen book. It has survived not
                        only five centuries, but also the leap into electronic typesetting, remaining essentially
                        unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem
                        Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker
                        including versions of Lorem Ipsum.</p>
                    <button class="btn btn-general btn-white" role="button">Contact</button>
                </div>
            </div>
        </div>
    </div>
</section>
-->
<!--====================================================
                      FOOTER
======================================================-->
{{include "default/public/footer-template.html"}}

<!--Global JavaScript -->
<!--<script src="default/js/popper/popper.min.js"></script>-->
<!--&lt;!&ndash;<script src="default/js/bootstrap/bootstrap.min.js"></script>&ndash;&gt;-->
<!--<script src="default/js/wow/wow.min.js"></script>-->
<!--<script src="default/js/owl-carousel/owl.carousel.min.js"></script>-->

<!--&lt;!&ndash; Plugin JavaScript &ndash;&gt;-->
<!--<script src="default/js/jquery-easing/jquery.easing.min.js"></script>-->
<!--<script src="default/js/custom.js"></script>-->
</body>

</html>
