<!doctype html>
<html>
{{include 'default/public/header.html'}}

<body>

<div class="main">
    <div class="main-content">
        <!--sidebar-->
        {{include "default/public/sidr.html"}}
        <!--nav-->
        {{include 'default/public/nav.html'}}
        <!--module-->
        <section class="wrapper-box sub-module-box">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="">
                            <div class="module-space"></div>
                            <div class="sub-module">
                                <h2>{{result.title}}&#160;/
                                    <span>{{result.description}}</span>
                                </h2>
                            </div>
                            <div class="module-space  module-space-bom" ></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="wrapper-box server-all">
            <div class="container reset-container">
                <div class="row">
                    <div>
                        <div class="col-md-6 col-xs-12 reset-col" >
                            <div class="server-all-img-box"></div>
                        </div>
                        <div class="col-md-6 col-xs-12 reset-col">
                            <div class="server-all-text-box">
                                <div class="text-title">
                                    <h3>从您出发，从心出发</h3>
                                </div>
                                <div class="text-content text-box">
                                    <p>因为您，我们所做的一切才有了意义。林肯电梯始终认为给予客户最佳的服务就是“以人为本，以您为本”，始终聆听容户最深处的需求，最真挚的反馈，事事从心出发。让周到、安心、真诚的服务与您上下随行。</p>
                                </div>
                                <div class="text-title server-tel">
                                    <h3>全天候在线服务</h3>
                                </div>
                                <div class="text-content text-box">
                                    <p>全国热线400-826-0599，24小时实时在线，致力于在第一时间为客户解决问题。</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-xs-12 reset-col">
                            <div class="server-all-text-box server-train">
                                <div class="text-title">
                                    <h3>至专至精，至善至美</h3>
                                </div>
                                <div class="text-content text-box">
                                    <p>林肯电梯运用管理模式和人才培训机制，打造了一支专业强，技术专，业务精的安装与维保团队。严格的管理与操作流程，多渠道控制维保体系，以及完善的原厂配件支持，保证了林肯电梯的响应快速，方案极佳，至善至美的服务优势。</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12 reset-col">
                            <div class="server-all-img-box work-img"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="wrapper-box server-info">
            <div class="container">
                <div class="row">
                    <div class="server-info-box clear">
                        <div class="col-md-4 col-xs-12 rest-padding">
                            <div class="server-text-box">
                                <div class="text-wrapper text-box">
                                    <h4>健全的驻点服务</h4>
                                    <p>林肯电梯在已开发市场的各区域设立售后服务站，且只要同一项目内林肯电梯达到15台以上，公司即可派遣资深维保小组驻点维保。形成了健全的售后服务网。</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-12 rest-padding">
                            <div class="server-text-box">
                                <div class="text-wrapper text-box">
                                    <h4>健全的驻点服务</h4>
                                    <p>林肯电梯在已开发市场的各区域设立售后服务站，且只要同一项目内林肯电梯达到15台以上，公司即可派遣资深维保小组驻点维保。形成了健全的售后服务网。</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-12 rest-padding">
                            <div class="server-text-box">
                                <div class="text-wrapper text-box">
                                    <h4>健全的驻点服务</h4>
                                    <p>林肯电梯在已开发市场的各区域设立售后服务站，且只要同一项目内林肯电梯达到15台以上，公司即可派遣资深维保小组驻点维保。形成了健全的售后服务网。</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-12 rest-padding">
                            <div class="server-text-box">
                                <div class="text-wrapper text-box">
                                    <h4>健全的驻点服务</h4>
                                    <p>林肯电梯在已开发市场的各区域设立售后服务站，且只要同一项目内林肯电梯达到15台以上，公司即可派遣资深维保小组驻点维保。形成了健全的售后服务网。</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-12 rest-padding">
                            <div class="server-text-box">
                                <div class="text-wrapper text-box">
                                    <h4>健全的驻点服务</h4>
                                    <p>林肯电梯在已开发市场的各区域设立售后服务站，且只要同一项目内林肯电梯达到15台以上，公司即可派遣资深维保小组驻点维保。形成了健全的售后服务网。</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-12 rest-padding">
                            <div class="server-text-box">
                                <div class="text-wrapper text-box">
                                    <h4>健全的驻点服务</h4>
                                    <p>林肯电梯在已开发市场的各区域设立售后服务站，且只要同一项目内林肯电梯达到15台以上，公司即可派遣资深维保小组驻点维保。形成了健全的售后服务网。</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <!--procedure-->
        <section class="wrapper-box procedure-box">
            <div class="container">
                <div class="row">
                    <div class="procedure-content">
                        <div class="col-md-6 col-xs-12">
                            <div class="procedure-content-text text-box">
                                <h4 class="info-box-title ">维保稽查巡查机制</h4>
                                <p class="description">林肯电梯始终以严苛标准要求自身，为保障电梯安全运行，林肯电梯建立内部维保稽查巡查机制，专门建立稽查部门，不定期对工程维保服务进行巡查自查工作，确保维保服务真正全面落实到位。</p>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12">
                            <div class="procedure-content-img">
                                <div class="procedure-img-box">
                                    <img width="100%" height="100%" src="default/images/lkjz.png" alt="">
                                </div>
                                <div class="text-box">
                                    <p>质量、安全管控体系(林肯机制)</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<!---->

<!--<p class="server-box">-->
<!--{{each list}}-->
<!--<a {{if cid==$value._id}} class="active" {{/if}} href="/service?cid={{@$value._id}}">{{$value.title}}</a>-->
<!--{{/each}}-->
<!--</p>-->
<!--<div id="main-wrapper">-->

    <!--<div class="main">-->

        <!--<ul class="clear">-->
            <!--{{each serviceList}}-->
                <!--<li class="service">-->
                    <!--<a href="/content/{{@$value._id}}">-->
                        <!--<img src="{{$value.img_url}}"/>-->
                        <!--<h3>{{$value.title}}</h3>-->
                    <!--</a>-->
                <!--</li>-->
            <!--{{/each}}-->
        <!--</ul>-->

        <!--&lt;!&ndash;分页&ndash;&gt;-->
        <!--<div id="page" class="pagination" style="margin-top:40px;"></div>-->
    <!--</div>-->

<!--</div>-->

<!--网站底部-->
{{include 'default/public/footer.html'}}

<script src="/default/js/jquery-2.0.3.min.js"></script>
<!--注意放在jq下面-->
<script src="/default/js/jqpaginator.js"></script>
<script>
    $('#page').jqPaginator({
        totalPages: {{totalPages}},
        visiblePages: 10,
        currentPage: {{page}},
        onPageChange: function (num, type) {
            // $('#text').html('当前第' + num + '页');
            if(type =='change'){ //当手动点击时 页面跳转
                {{if cid}} //如果存在 cid 页面传递的参数要加上 cid
                    location.href = '/service?cid={{cid}}&page='+num;
                {{else}} //如果不存在 cid 那么就显示page
                    location.href = '/service?page='+num;
                {{/if}}
            }
        }
    });

</script>



</body>
</html>
