<!DOCTYPE html>
<html lang="en">


<head>
    {{include "default/public/header-template.html"}}

    <!-- Core Stylesheets -->
    <link rel="stylesheet" href="default/css/services.css">

</head>
<body id="page-top">

<!--====================================================
                         HEADER
======================================================-->

<header>
    <!-- sidr-->
    {{include "default/public/sidr.html"}}
    <!-- Navbar-->
    {{include "default/public/nav-template.html"}}
</header>

<!--====================================================
                       HOME-P
======================================================-->
<div id="home-p" class="home-p pages-head2 text-center">
    <div class="container">
        <h1 class="wow fadeInUp" data-wow-delay="0.1s">{{result.title}}</h1>
        <p>{{result.description}}</p>
    </div><!--/end container-->
</div>

<!--====================================================
                      BUSINESS-GROWTH-P1
======================================================-->
<section id="business-growth-p1" class="business-growth-p1 bg-gray">
    <div class="container">
        <div class="row title-bar">
            <div class="col-md-12">
                <h1 class="wow fadeInUp">We committed to helping</h1>
                <div class="heading-border"></div>
                <p class="wow fadeInUp" data-wow-delay="0.4s">We committed to helping you maintain your oral
                    healthTooth.We are an innovative company. We develop and design websites for costumers around the
                    world. Our clients are some of the most forward-looking companies in the world.</p>
            </div>
        </div>
        <div class="row wow animated fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
            <div class="col-md-3 col-sm-6 service-padding">
                <div class="service-item">
                    <div class="service-item-icon"><i class="fa fa-paint-brush fa-3x"></i>
                    </div>
                    <div class="service-item-title">
                        <h3>Web Design</h3>
                    </div>
                    <div class="service-item-desc">
                        <p>Laborum adipisicing do amet commodo occaecat do amet commodo occaecat.</p>
                        <div class="content-title-underline-light"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 service-padding">
                <div class="service-item">
                    <div class="service-item-icon"><i class="fa fa-laptop fa-3x"></i>
                    </div>
                    <div class="service-item-title">
                        <h3>Web Devlopment</h3>
                    </div>
                    <div class="service-item-desc">
                        <p>Laborum adipisicing do amet commodo occaecat do amet commodo occaecat.</p>
                        <div class="content-title-underline-light"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 service-padding">
                <div class="service-item">
                    <div class="service-item-icon"><i class="fa fa-table fa-3x"></i>
                    </div>
                    <div class="service-item-title">
                        <h3>Mobile Apps</h3>
                    </div>
                    <div class="service-item-desc">
                        <p>Laborum adipisicing do amet commodo occaecat do amet commodo occaecat.</p>
                        <div class="content-title-underline-light"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 service-padding">
                <div class="service-item right-bord">
                    <div class="service-item-icon"><i class="fa fa-search fa-3x"></i>
                    </div>
                    <div class="service-item-title">
                        <h3>SEO Optimization</h3>
                    </div>
                    <div class="service-item-desc">
                        <p>Laborum adipisicing do amet commodo occaecat do amet commodo occaecat.</p>
                        <div class="content-title-underline-light"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--====================================================
                    FINANCIAL-P1
======================================================
<section id="financial-p1" class="bg-parallax financial-p3-bg">
    <div class="overlay-financial-p1"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 financial-p1-pos">
                <div class="financial-p1-cont">
                    <a href="#"> <b>Richtech Technology</b></a>
                    <h3>Excellent Strategies For </h3>
                    <p>Businessbox will deliver value to all the stakeholders and will attain excellence and leadership
                        through such delivery of value. We will strive to support the stakeholders in all activities
                        related to us. Businessbox provide great things.Everyone defines success differently – as much
                        as there are people, there are different opinions. Number one in our priority list is the
                        success of our students, alumni and their employers.</p>
                    <button class="btn btn-general btn-white" role="button">Contact Us</button>
                </div>
            </div>
            <div class="col-md-6 financial-p1-emp-img"></div>
        </div>
    </div>
</section>
<section id="financial-p1" class="bg-parallax financial-p2-bg">
    <div class="overlay-financial-p1"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 financial-p1-emp-img"></div>
            <div class="col-md-6 financial-p1-pos financial-p1-emp-desc-d">
                <div class="financial-p1-cont">
                    <a href="#"> <b>Richtech Technology</b></a>
                    <h3>Transfer Financial Services</h3>
                    <p>Businessbox will deliver value to all the stakeholders and will attain excellence and leadership
                        through such delivery of value. We will strive to support the stakeholders in all activities
                        related to us. Businessbox provide great things.Everyone defines success differently – as much
                        as there are people, there are different opinions. Number one in our priority list is the
                        success of our students, alumni and their employers.</p>
                    <button class="btn btn-general btn-white" role="button">Contact Us</button>
                </div>
            </div>
        </div>
    </div>
</section>
-->
<!--====================================================
                      FINANCIAL-P5
======================================================
<section class="what-we-do bg-gradiant financial-p5">
    <div class="container">
        <div class="row title-bar">
            <div class="col-md-12">
                <h1 class="wow fadeInUp cl-white">Global Business Services</h1>
                <div class="heading-border bg-white"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4  col-sm-6">
                        <div class="what-we-desc wow fadeInUp" data-wow-delay="0.1s">
                            <i class="fa fa-bar-chart"></i>
                            <h6>Professional Growth</h6>
                            <p class="desc">It is a long established fact that a reader will be distracted by the
                                readable content of a page when looking at its layout. The point of using Lorem Ipsum is
                                that it has a more-or-less normal distribution of letters, as opposed to using 'Content
                                here, content here', making it look like readable English.</p>
                        </div>
                    </div>
                    <div class="col-md-4  col-sm-6">
                        <div class="what-we-desc wow fadeInUp" data-wow-delay="0.1s">
                            <i class="fa fa-bullseye"></i>
                            <h6>Research &amp; Development </h6>
                            <p class="desc">It is a long established fact that a reader will be distracted by the
                                readable content of a page when looking at its layout. The point of using Lorem Ipsum is
                                that it has a more-or-less normal distribution of letters, as opposed to using 'Content
                                here, content here', making it look like readable English.</p>
                        </div>
                    </div>
                    <div class="col-md-4  col-sm-6">
                        <div class="what-we-desc wow fadeInUp" data-wow-delay="0.1s">
                            <i class="fa fa-star-o"></i>
                            <h6>Valuable Services</h6>
                            <p class="desc">It is a long established fact that a reader will be distracted by the
                                readable content of a page when looking at its layout. The point of using Lorem Ipsum is
                                that it has a more-or-less normal distribution of letters, as opposed to using 'Content
                                here, content here', making it look like readable English.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
-->
<!--====================================================
                      FINANCIAL-P6
======================================================
<section id="financial-p6" class="financial-p6">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="financial-p6-img">
                    <img src="default/images/image-3.jpg" class="img-fluid wow fadeInUp" data-wow-delay="0.1s" alt="...">
                    <img src="" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="financial-p6-cont">
                    <h2 class="wow fadeInUp">Creative Idea Businessbox </h2>
                    <div class="heading-border-light"></div>
                    <p> Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
                        printer took a galley of type and scrambled it to make a type specimen book. It has survived not
                        only five centuries, but also the leap into electronic typesetting, remaining essentially
                        unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem
                        Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker
                        including versions of Lorem Ipsum.</p>
                    <button class="btn btn-general btn-white" role="button">Contact</button>
                </div>
            </div>
        </div>
    </div>
</section>
-->
<!--====================================================
                      FOOTER
======================================================-->
{{include "default/public/footer-template.html"}}

<!--Global JavaScript -->
<script src="default/js/popper/popper.min.js"></script>
<!--<script src="default/js/bootstrap/bootstrap.min.js"></script>-->
<script src="default/js/wow/wow.min.js"></script>
<script src="default/js/owl-carousel/owl.carousel.min.js"></script>

<!-- Plugin JavaScript -->
<script src="default/js/jquery-easing/jquery.easing.min.js"></script>
<script src="default/js/custom.js"></script>
</body>

</html>
