{{include 'admin/public/header.html'}}

<!--引入js文件-->
<script type="text/javascript" charset="utf-8" src="{{__HOST__}}/ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="{{__HOST__}}/ueditor/ueditor.all.js"> </script>
<!--建议手动加在语言，避免在ie下有时因为加载语言失败导致编辑器加载失败-->
<!--这里加载的语言文件会覆盖你在配置项目里添加的语言类型，比如你在配置项目里配置的是英文，这里加载的中文，那最后就是中文-->
<script type="text/javascript" charset="utf-8" src="{{__HOST__}}/ueditor/lang/zh-cn/zh-cn.js"></script>

<body>
<div class="navbar navbar-default" id="navbar">
    <script type="text/javascript">
        try {
            ace.settings.check('navbar', 'fixed')
        } catch (e) {
        }
    </script>

    {{include 'admin/public/nav-top.html'}}
</div>

<div class="main-container" id="main-container">
    <script type="text/javascript">
        try {
            ace.settings.check('main-container', 'fixed')
        } catch (e) {
        }
    </script>

    <div class="main-container-inner">
        <a class="menu-toggler" id="menu-toggler" href="#">
            <span class="menu-text"></span>
        </a>

        {{include 'admin/public/nav-left.html'}}

        <div class="main-content">
            <div class="breadcrumbs" id="breadcrumbs">
                <script type="text/javascript">
                    try {
                        ace.settings.check('breadcrumbs', 'fixed')
                    } catch (e) {
                    }
                </script>

                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home home-icon"></i>
                        <a href="#">首页</a>
                    </li>
                    <li class="active">控制台</li>
                </ul><!-- .breadcrumb -->

                <div class="nav-search" id="nav-search">
                    <form class="form-search">
								<span class="input-icon">
									<input type="text" placeholder="Search ..." class="nav-search-input"
                                           id="nav-search-input" autocomplete="off"/>
									<i class="icon-search nav-search-icon"></i>
								</span>
                    </form>
                </div><!-- #nav-search -->
            </div>

            <div class="page-content">

                <div class="page-header">
                    <h1>
                        增加内容
                    </h1>
                </div><!-- /.page-header -->

                <form class="form-horizontal form-border" action="{{__HOST__}}/admin/article/doEdit" method="post" role="form" enctype="multipart/form-data">
                    <!--tab切换-->
                    <ul id="myTabs" class="nav nav-tabs myTabs-ul">
                        <li class="active"><a href="#basic" data-toggle="tab">基本设置</a></li>
                        <li><a href="#content" data-toggle="tab">内容设置</a></li>
                        <li><a href="#seo" data-toggle="tab">SEO设置</a></li>
                    </ul>

                    <div id="myTabContent" class="tab-content" style="border:none;">
                        <div class="tab-pane fade in active " id="basic">
                            <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right" for="pid">所属分类:</label>

                                <div class="col-sm-10">

                                    <select name="pid" id="pid">
                                        {{each articleCateList}}
                                        <option value="{{@$value._id}}" {{if list.pid==$value._id}} selected {{/if}}>{{$value.title}}</option>
                                            {{each $value.list}}
                                            <option value="{{@$value._id}}" {{if list.pid==$value._id}} selected {{/if}}>　　　{{$value.title}}</option>
                                            {{/each}}
                                        {{/each}}
                                    </select>

                                </div>
                                <input type="hidden" name="catename" id="catename" value="{{articleCateList[0].title}}">
                                <script>
                                    let sel = document.getElementById("pid");
                                    let index = sel.selectedIndex;
                                    let selected = sel.options[index].text.trim();
                                    document.getElementById("catename").value = selected;

                                </script>
                                <input type="hidden" name="id"  id="id" value="{{@list._id}}">
                                <input type="hidden" name="prevPage"  value="{{prevPage}}">
                            </div>


                            <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right" for="title">名称:</label>

                                <div class="col-sm-10">
                                    <input type="text" id="title" name="title" value="{{list.title}}" placeholder="" class="col-xs-10 col-sm-5">
                                </div>
                            </div>

                            <div class="form-group" style="height:100px;">
                                <label class="col-sm-2 control-label no-padding-right" for="title">封面图:</label>

                                <div class="col-sm-10">
                                    <input type="file" id="file" name="img_url" value="{{list.img_url}}" placeholder="" class="col-xs-10 col-sm-5">
                                </div>
                                <div class="col-sm-10" style="margin-top:10px;">
                                    <div class="col-xs-10 col-sm-5">
                                        <img  src="{{__HOST__}}/{{list.img_url}}" width="60" alt="">
                                    </div>

                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right" for="author">作者:</label>

                                <div class="col-sm-10">
                                    <input type="text" id="author" name="author" value="{{list.author}}" placeholder="" class="col-xs-10 col-sm-5">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right" for="delayTime">延迟时间:</label>

                                <div class="col-sm-10">
                                    <input type="text" id="delayTime" name="delayTime" value="{{list.delayTime}}" class="col-xs-10 col-sm-5">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right" for="description" >状态:</label>

                                <div class="col-sm-10" >
                                    <label for="status1">已审核:</label>
                                    <input type="radio" name="status" id="status1" value="1" {{if list.status==='1'}} checked {{/if}} >
                                    &nbsp;
                                    <label for="status2">未审核:</label>
                                    <input type="radio" name="status" id="status2" value="0" {{if list.status==='0'}} checked {{/if}} >
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right">显示状态:</label>

                                <div class="col-sm-10" >
                                    <label for="showModel1">显示:</label>
                                    <input type="radio" name="showModel" id="showModel1" value='1' {{if list.showModel===true}} checked {{/if}}>
                                    &nbsp;
                                    <label for="showModel2">不显示:</label>
                                    <input type="radio" name="showModel" id="showModel2" value='0' {{if list.showModel===false}} checked  {{/if}}>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right" for="author">加入推荐:</label>

                                <div class="col-sm-10">
                                    <input type="checkbox" value="1" name="is_best" {{if list.is_best==='1'}} checked {{/if}} >精品
                                    <input type="checkbox" value="1" name="is_hot"  {{if list.is_hot==='1'}} checked {{/if}}>热销
                                    <input type="checkbox" value="1" name="is_new" {{if list.is_new==='1'}} checked {{/if}} >新品
                                </div>
                            </div>

                        </div>
                        <div class="tab-pane fade tab-height" id="content">
                            <div class="form-group" >
                                <label class="col-sm-2 control-label no-padding-right" for="description" >文本描述:</label>

                                <div class="col-sm-10" >
                                    <script name="content" id="editor" type="text/plain" style="width:600px;height:250px;"></script>
                                    <script></script>
                                    </div>
                             </div>
                        </div>

                        <div class="tab-pane fade " id="seo">
                            <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right" for="keywords">关键字:</label>

                                <div class="col-sm-10">
                                    <input type="text" id="keywords" name="keywords" value="{{list.keywords}}" class="col-xs-10 col-sm-5" />
                                </div>
                            </div>
                            <div class="form-group" style="height:100px;">
                                <label class="col-sm-2 control-label no-padding-right" for="description">描述：</label>
                                <div class="col-sm-10">
                                    <textarea  style="height:100px;" class="col-xs-10 col-sm-5"  name="description" id="description" cols="10" rows="10">{{list.description}}</textarea>
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="form-group">
                        <label class="col-sm-1 control-label no-padding-right" for="submit"></label>

                        <div class="col-sm-10">
                            <button type="submit" id="submit" class="btn btn-primary">提交</button>
                        </div>
                    </div>
                </form>

            </div>
        </div><!-- /.main-content -->

    </div><!-- /.main-container-inner -->

    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="icon-double-angle-up icon-only bigger-110"></i>
    </a>
</div><!-- /.main-container -->


{{include 'admin/public/footer.html'}}

<script src="{{__HOST__}}/admin/js/typeahead-bs2.min.js"></script>


<script src="{{__HOST__}}/admin/js/bootstrap-wysiwyg.min.js"></script>

<script>

    $(function(){
        $('#myTabs li:eq(0) a').tab('show')
    })

</script>
<script>
    let  ueditor = UE.getEditor('editor');
    ueditor.addListener("ready", function (){ /*注意*/
        // editor 准备好之后才可以使用
        ueditor.setContent(`{{@list.content}}`);        /*es6的模板字符串*/
    });


    let pidDoc = document.getElementById('pid');
    let idDoc = document.getElementById('id');
    let cateDoc = document.getElementById('catename');
    let optDoc = document.getElementsByTagName('option');

    // if(idDoc){
    //     for(let i=0;i<optDoc.length;i++){
    //         if(optDoc[i].selected){
    //             cateDoc.value = optDoc[i].innerHTML.trim();
    //         }
    //     }
    // }else{
    //     pidDoc.onchange = function(){
    //         for(let i=0;i<optDoc.length;i++){
    //             if(optDoc[i].selected){
    //                 cateDoc.value = optDoc[i].innerHTML.trim();
    //             }
    //         }
    //     }
    // }

    pidDoc.onchange = function(){
        for (let i = 0; i < optDoc.length; i++) {
            if (optDoc[i].selected) {
                cateDoc.value = optDoc[i].innerHTML.trim();
            }
        }
    }


</script>

</body>
</html>

