<footer>
    <div id="footer-s1" class="footer-s1">
        <div class="footer">
            <div class="container">
                <div class="row">
                    <!-- About Us -->
                    <div class="col-md-4 col-sm-6 ">
                        <div><img src="{{__HOST__}}/{{setting.siteFooter_logo}}" alt="" class="img-fluid"></div>
                        <ul class="list-unstyled comp-desc-f">
                            <li><p>{{setting.site_description}} </p></li>
                        </ul>
                        <br>
                    </div>
                    <!-- End About Us -->

                    <!-- Recent News -->
                    <div class="col-md-4 col-sm-6 ">
                        <div class="heading-footer"><h2>Useful Links</h2></div>
                        <ul class="list-unstyled link-list">
                            {{each nav}}
                            <li>
                                <a href="{{$value.url}}">{{$value.title}} <i class="fa fa-angle-right"></i></a>
                            </li>
                            {{/each}}
                        </ul>
                    </div>

                    <!-- Latest Tweets -->
                    <div class="col-md-4 col-sm-6">
                        <div class="heading-footer"><h2>联系方式</h2></div>
                        <address class="address-details-f">
                            <p><i class="fa fa-map-marker"></i> 地址 : {{setting.site_address}}</p>
                            <p><i class="fa fa-phone"></i> 联系电话 : {{setting.site_tel}}</p>
                            <p><i class="fa fa-envelope"></i> 邮箱 : {{setting.site_email}}</p>
                            <!--
                            <div style="display: flex;flex-flow: nowrap;justify-content:flex-start;align-items:baseline;">
                                <p style="width:50px;">地址:</p>
                                <p>{{setting.site_address}}</p>
                            </div>-->
                        </address>
                    </div>
                    <!-- End Latest Tweets -->
                </div>
            </div><!--/container -->
        </div>
    </div>

    <div id="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div id="footer-copyrights">
                        <p>Copyrights &copy; 2019 All Rights Reserved by Eyneta</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="javascript:void(0)" id="back-to-top" class="btn btn-sm btn-green btn-back-to-top smooth-scrolls hidden-sm hidden-xs"
       title="home" role="button">
        <i class="fa fa-angle-up"></i>
    </a>
</footer>

<!--Global JavaScript -->
<script src="{{__HOST__}}/default/js/popper/popper.min.js"></script>
<!--<script src="https://cdn.bootcss.com/popper.js/1.14.6/popper.min.js"></script>-->
<!--<script src="default/js/bootstrap/bootstrap.min.js"></script>-->
<script src="https://cdn.bootcss.com/twitter-bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
<script src="{{__HOST__}}/default/js/wow/wow.min.js"></script>
<script src="{{__HOST__}}/default/js/owl-carousel/owl.carousel.min.js"></script>

<!-- Plugin JavaScript -->
<script src="{{__HOST__}}/default/js/jquery-easing/jquery.easing.min.js"></script>
<!--分页js-->
<script src="{{__HOST__}}/default/js/jqPaginator.js"></script>
<script src="{{__HOST__}}/default/js/custom.js"></script>

