<div class="footer-wrapper">
    <div class="">
        <section class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 hidden-xs">
                        <div class="footer-empty"></div>
                        <div>
                            <img src="default/images/LINCOLN3-w.png" alt="" width="127" height="24">
                        </div>
                        <div class="footer-empty middle"></div>
                        <div>
                            <div>
                                <p>林肯电梯(中国)有限公司是由美国林肯电梯有限公司控股的中外合资企业，位于浙江海宁尖山新区，具有国家特种设备电梯类A级制造资质与A级安装改造维修资质,拥有全系列的电（扶）梯产品，完善的质量保证和服务体系，始终把客户的权益放在第一位，精细化每一个细节，只为客户创造完美乘梯享受。</p>
                            </div>
                        </div>
                        <div class="footer-empty"></div>
                    </div>
                    <div class="col-md-8 col-xs-12">
                        <div class="footer-empty"></div>
                        <ul class="icon-list">
                            <li class="clearfix">
                                <h5>产品系列</h5>
                                <div class="with-link"><a href="#">乘客电梯</a></div>
                                <div class="delimeter hidden-xs"></div>
                                <div class="with-link"><a href="#">载货电梯</a></div>
                                <div class="delimeter hidden-xs"></div>
                                <div class="with-link"><a href="#">别墅电梯</a></div>
                                <div class="delimeter hidden-xs"></div>
                                <div class="with-link"><a href="#">自动扶梯</a></div>
                            </li>
                            <li class="clearfix">
                                <h5>关于林肯</h5>
                                <div class="with-link"><a href="#">林肯简介</a></div>
                                <div class="delimeter hidden-xs"></div>
                                <div class="with-link"><a href="#">发展历程</a></div>
                                <div class="delimeter hidden-xs"></div>
                                <div class="with-link"><a href="#">林肯资质</a></div>
                                <div class="delimeter hidden-xs"></div>
                                <div class="with-link"><a href="#">林肯资讯</a></div>
                            </li>
                            <li class="clearfix">
                                <h5>服务支持</h5>
                                <div class="with-link"><a href="#">网点服务</a></div>
                                <div class="delimeter hidden-xs"></div>
                                <div class="with-link"><a href="#">资料下载</a></div>
                                <div class="delimeter hidden-xs"></div>
                                <div class="with-link"><a href="#">人才招聘</a></div>
                                <div class="delimeter hidden-xs"></div>
                                <div class="with-link"><a href="#">联系我们</a></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section class="subfooter">
            <div class="container">
                <div class="sub-footer-wrapper row">
                    <div class="subfooter-copyright col-xs-12">
                        版权所有© 2017林肯电梯（中国）有限公司 浙ICP备16035996号-1 | 技术支持：
                        <a href="#">小甲由科技</a>
                    </div>
                </div>
            </div>
        </section>
    </div>

</div>


<script type="text/javascript">
    window.jQuery || document.write("<script src='{{__HOST__}}/admin/js/jquery-2.0.3.min.js'>" + "<" + "script>");
</script>