<footer>
    <div id="footer-s1" class="footer-s1">
        <div class="footer">
            <div class="container">
                <div class="row">
                    <!-- About Us -->
                    <div class="col-md-4 col-sm-6 ">
                        <div><img src="{{__HOST__}}/{{setting.siteFooter_logo}}" alt="" class="img-fluid"></div>
                        <ul class="list-unstyled comp-desc-f">
                            <!--<li><p>Businessbox is a corporate business theme. You can customize what ever you think to-->
                                <!--make your website much better from your great ideas. </p></li>-->
                            <li><p>{{setting.site_description}} </p></li>
                        </ul>
                        <br>
                    </div>
                    <!-- End About Us -->

                    <!-- Recent News -->
                    <div class="col-md-4 col-sm-6 ">
                        <div class="heading-footer"><h2>Useful Links</h2></div>
                        <ul class="list-unstyled link-list">
                            {{each nav}}
                            <li>
                                <a href="{{$value.url}}">{{$value.title}} <i class="fa fa-angle-right"></i></a>
                            </li>
                            {{/each}}
                            <!--<li><a href="about.html">About us</a><i class="fa fa-angle-right"></i></li>-->
                            <!--<li><a href="project.html">Project</a><i class="fa fa-angle-right"></i></li>-->
                            <!--<li><a href="careers.html">Career</a><i class="fa fa-angle-right"></i></li>-->
                            <!--<li><a href="faq.html">FAQ</a><i class="fa fa-angle-right"></i></li>-->
                            <!--<li><a href="contact.html">Contact us</a><i class="fa fa-angle-right"></i></li>-->
                        </ul>
                    </div>
                    <!-- End Recent list -->

                    <!-- Recent Blog Entries
                    <div class="col-md-3 col-sm-6 ">
                        <div class="heading-footer"><h2>Recent Post Entries</h2></div>
                        <ul class="list-unstyled thumb-list">
                            <li>
                                <div class="overflow-h">
                                    <a href="#">Praesent ut consectetur diam.</a>
                                    <small>02 OCT, 2017</small>
                                </div>
                            </li>
                            <li>
                                <div class="overflow-h">
                                    <a href="#">Maecenas pharetra tellus et fringilla.</a>
                                    <small>02 OCT, 2017</small>
                                </div>
                            </li>
                        </ul>
                    </div>-->
                    <!-- End Recent Blog Entries -->

                    <!-- Latest Tweets -->
                    <div class="col-md-4 col-sm-6">
                        <div class="heading-footer"><h2>Get In Touch</h2></div>
                        <address class="address-details-f">
                            <p>25, Dist town Street, Logn California, US </p>
                            <p>Phone: {{setting.site_tel}}</p>
                            <!--Fax: 800 123 3456 <br>-->
                            <p>Email: <a href="mailto:info@Businessbox.com" class="">info@EYNETA.com</a></p>
                        </address>
                        <!--
                        <ul class="list-inline social-icon-f top-data">
                            <li><a href="#" target="_empty"><i class="fa top-social fa-facebook"></i></a></li>
                            <li><a href="#" target="_empty"><i class="fa top-social fa-twitter"></i></a></li>
                            <li><a href="#" target="_empty"><i class="fa top-social fa-google-plus"></i></a></li>
                        </ul>-->
                    </div>
                    <!-- End Latest Tweets -->
                </div>
            </div><!--/container -->
        </div>
    </div>

    <div id="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div id="footer-copyrights">
                        <p>Copyrights &copy; 2017 All Rights Reserved by Businessbox. More Templates</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#home" id="back-to-top" class="btn btn-sm btn-green btn-back-to-top smooth-scrolls hidden-sm hidden-xs"
       title="home" role="button">
        <i class="fa fa-angle-up"></i>
    </a>
</footer>

<!--Global JavaScript -->
<script src="default/js/popper/popper.min.js"></script>
<!--<script src="https://cdn.bootcss.com/popper.js/1.14.6/popper.min.js"></script>-->
<!--<script src="default/js/bootstrap/bootstrap.min.js"></script>-->
<script src="https://cdn.bootcss.com/twitter-bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
<script src="default/js/wow/wow.min.js"></script>
<script src="default/js/owl-carousel/owl.carousel.min.js"></script>

<!-- Plugin JavaScript -->
<script src="default/js/jquery-easing/jquery.easing.min.js"></script>
<script src="default/js/custom.js"></script>