<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{{setting.site_title}}</title>
    <meta name="keywords" content="{{setting.site_keywords}}" />
    <meta name="Description" content="{{setting.site_description}}" />
    <link rel="stylesheet" type="text/css" href="default/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="default/css/index.css"/>
    <link rel="stylesheet" type="text/css" href="default/css/swiper.min.css"/>
    <link rel="stylesheet" type="text/css" href="default/css/footer.css"/>
    <link rel="stylesheet" type="text/css" href="default/css/mainContent.css"/>
    <link rel="stylesheet" type="text/css" href="admin/css/bootstrap.min.css" />
    <script type="text/javascript" src="default/js/swiper.min.js"></script>
    <script type="text/javascript" src="default/js/bootstrap.min.js"></script>

    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="default/css/reset.css"/>
</head>