<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<meta name="description" content="eyneta 逸立达&trade; 逸立达电梯 辽宁逸立达电梯有限公司 ">
<meta name="keywords" content="eyneta 逸立达&trade; 逸立达电梯 辽宁逸立达电梯有限公司 " />

<title>eyneta 逸立达&trade; {{setting.site_title}}</title>
<!-- <link rel="shortcut icon" href="{{__HOST__}}/default/images/favicon.ico"> -->

<!-- Global Stylesheets -->
<link rel="stylesheet" href="{{__HOST__}}/default/css/googleapis-font.css">
<!--<link rel="stylesheet" href="{{__HOST__}}/default/css/bootstrap/bootstrap.min.css">-->
<link href="https://cdn.bootcss.com/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet">
<!--<link rel="stylesheet" href="{{__HOST__}}/default/font-awesome-4.7.0/css/font-awesome.min.css">-->
<link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<!--<link rel="stylesheet" href="{{__HOST__}}/default/css/animate/animate.min.css">-->
<link href="https://cdn.bootcss.com/animate.css/3.5.1/animate.min.css" rel="stylesheet">
<link rel="stylesheet" href="{{__HOST__}}/default/css/owl-carousel/owl.carousel.min.css">
<link rel="stylesheet" href="{{__HOST__}}/default/css/owl-carousel/owl.theme.default.min.css">
<link rel="stylesheet" href="{{__HOST__}}/default/css/style.css">

<script src="https://cdn.bootcss.com/jquery/2.0.3/jquery.min.js"></script>


